body {
  text-align: center;
  justify-content: center;
}

.username {
  margin-top: 100px !important;
  width: 300px;
}

.password {
  width:300px;
}

Button {
  margin-top: 30px !important;
  width:300px;
}

h1 {
  text-align: left;
  margin-left: 200px;
  margin-top: 40px;
  color: gray;
}

.container1 {
  display: flex;
  justify-content: center;
  text-align: left;
}

.Form {
  width: 180px;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
